.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.new-todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.label {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  width: 400px;
  font-size: 20px;
  padding: 0px;
}

.delete-btn {
  width: 370px;
  font-size: 20px;
  padding: 0px;
}

.sort-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-btn {
  width: 150px;
  font-size: 20px;
  padding: 0px;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-top: 20px;
  border: 2px solid white;
  padding: 10px;
}
.list {
  margin-bottom: 30px;
}

